@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

code[class*="language-"],
pre[class*="language-"] {
    text-shadow: none !important;
    /* This will remove any text shadow */
}

.token.operator {
    background: none !important;
}

.overflow-wrap-anywhere {
    overflow-wrap: anywhere;
  }